.card {
    @apply bg-yellow-300/80 shadow-lg border flex flex-col;
}

.header {
    @apply text-center;
}

.icon {
    @apply flex justify-center mb-4 text-5xl;
    /* Adjust icon size as needed */
}

.title {
    @apply text-3xl font-bold text-black;
}

.description {
    @apply text-black text-lg;
}

.button {
    @apply w-full bg-black text-yellow-300 hover:bg-gray-800;
}
