.triggerButton {
    @apply flex items-center justify-center gap-2 px-4 py-2 border rounded-md text-sm font-medium bg-gray-200 bg-opacity-70;
}

.icon {
    @apply h-4 w-4;
}

.dialogContent {
    @apply sm:max-w-[425px];
}


.inputGroup {
    @apply flex gap-2;
}

.inputHalf {
    @apply col-span-1;
}

.fullWidthButton {
    @apply w-full;
}
