.triggerButton {
    @apply w-auto px-3 flex items-center gap-1;
}

.icon {
    @apply h-4 w-4;
}

.dialogContent {
    @apply sm:max-w-[425px];
}

.filterGrid {
    @apply grid gap-2 py-4;
}

.inputGroup {
    @apply flex gap-2 items-center;
}

.inputHalf {
    @apply w-1/2;
}

.fullWidthButton {
    @apply w-full;
}
