
.logoContainer {
    @apply flex flex-col items-center justify-center gap-2 w-full;
}

.logoImage {
    @apply shrink-0 rounded-full;
}

.logoTitle {
    @apply text-xl font-bold text-foreground truncate;
}
