.sidebarHeader {
    @apply p-4;
}

.sidebarContent {
    @apply flex-1 p-2;
}

.sidebar {
    width: 180px; /* Reduced width */
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text-color);
}

.sidebarMenuItem button {
    color: var(--sidebar-text-color);
}
