.inputSenhaContainer {
    @apply relative;
}

.inputSenha {
    @apply pr-10;
}

.botaoMostrarSenha {
    @apply absolute right-0 top-0 h-full px-3 py-2 hover:bg-transparent;
}

.iconeOlho {
    @apply h-4 w-4 text-gray-500;
}
