.headerContainer {
  @apply flex flex-col md:flex-row md:items-center md:justify-between mb-6 gap-4;
}

.titleWrapper {
  @apply flex items-center gap-4;
}

.title {
  @apply text-3xl font-bold;
}

.shield {
  @apply object-contain;
}

.addButton {
  @apply w-full md:w-auto;
}
