.container {
    @apply text-center p-4;
}

.title {
    @apply text-black font-bold text-xl mb-2;
}

.message {
    @apply text-gray-700 mb-4;
}

.actions {
    @apply flex justify-center gap-4 mt-4;
}

.declineButton {
    @apply bg-gray-300 text-black hover:bg-gray-400 px-4 py-2 rounded;
}

.acceptButton {
    @apply bg-black text-yellow-300 hover:bg-gray-800 px-4 py-2 rounded;
}
